<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6b">
          返回ICS 6B列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6B Boolean Algebra & Logic - Wayne Hayes
                  </a>
                </h2>
            </header>
              内容：逻辑代数
              <br>Professor: Wayne Hayes
							<br>难易程度: ★★★
							<br>
							<br>先修课目：无
							<br>TA: Alexios Voulimeneas &
							<br>Xinyun Zou
							<br>Grader:  Liangjian Chen & Yu Guo
							<br>Discussion:  非强制性，我去过几次，讲得比Prof稍微好一点，TA人蛮好，另有问题也可以在piazza上问。
							<br>Piazza: 有
							<br>Textbook: Rosen的Discrete Mathematics and Its Applications (第七版)，可在网上找免费的电子版资源
							<br>Rate my professor 评分: 2.4
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=919115
							<br>给这个老师打三颗星难度的原因是他上课思路不清楚，有时候会给自己公司打广告，有时候会讲错，好在有台下的学霸大佬纠正。感觉这个老师不怎么备课，有时候上课出的题自己也不会解。Rate上对于这节课的打分基本是1分，我试图打过5分然而被点了6个差评。综合评分2.4是因为他的upper据说教的还不错，总之不推荐上他的6B。
							<br>Grading criteria: （可能有所变动）
							<br>· Homework  20%
							<br>一共有九个手写作业，由两个grader改，改的还蛮松的，基本上都是满分。
							<br>· Midterm exam 30%
							<br>可能会超纲，因此Reading要提前看一些
							<br>· Final 50%
							<br>由于Midterm大家都考得不好所以题目还算简单
							<br>Comment:
							<br>这节课虽然内容不难，但综合教学质量和考试难度下拿A还是有一定难度的。最可怕的一点是这位老师的curve会降低C-以下和A以上的人数，这样一来得B和C的学生既拿不了好的GPA又不能retake。
							<br>教授：这个老师会提供一个学生的笔记，笔记比较全，老师讲题也比较清晰，但是讲课的框架不是很清晰，顺序有点乱。
							<br>课程：这节课的homework和midterm比较简单，但是final很难，尽量做多一点书上的习题会有帮助。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
