<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics32">
          返回ICS 32列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 32 Program Software Library - Sergio Gago Masague
                  </a>
                </h2>
            </header>
              内容：学习Python语言
              <br>Professor: Sergio Gago Masague
							<br>难易程度：★★★
							<br>
							<br>先修课目：31 或者可以通过placement test 跳过31。详情：
							<br>http://www.ics.uci.edu/~kay/courses/31/placement.html
							<br>TA: Sajjad Taheri
							<br>Discussion: NA
							<br>Lab: 前两个project 强制pair programming， 要去lab找靠谱的partner。如果没有去lab，TA会强制分配给你一个partner。 Lab人很少，如果project有问题去lab还是很有帮助的
							<br>Piazza: 无
							<br>Textbook: 无
							<br>Rate my professor 评分: 无
							<br>这个老师目前只在summer10-week 教早八的课， 2016教ics 32， 2017教ics 46. 作业和考试基本沿用Thornton 的内容， 改进了一些比较偏门的题目。比Thornton简单一点。 有一次可以晚交99hours 作业的机会。 Office hour 很耐心。 如果midterm考不好的话可以用final 代替。他曾经说过他的goal 是尽可能让更多的人pass。Final review很有用，讲的全是考试会考的内容。
							<br>Grading Criteria: (Summer 2016)
							<br>· Five programming projects, 40% (weighted equally at 8% each)
							<br>· Midterm, 25%
							<br>· Final Exam, 35%
							<br>Comment:
							<br>承上启下的一门课，刚开始会觉得比31难很多。尤其是第一个project会觉得不知道自己在做什么。但是后面就会好很多了，笔记上有很多作业需要的code可以抄。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
