<ion-content>
  <ion-list lines="none">
    <ion-item href="/cucs/home">
      <ion-icon slot="start" color="medium" name="arrow-round-back"></ion-icon>
      <ion-label>返回</ion-label>
    </ion-item>
    <ion-item>
      PS：单击课程以后会跳转Google Drive链接。更多课程复习正在准备中。
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>目录</ion-label>
    </ion-list-header>
    <ion-item href="https://drive.google.com/drive/folders/1fMicea6RuA3FDTLNKdkrlHxENnajqBQk">
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 31 Intro to Programming</ion-label> 
    </ion-item>
    <ion-item href="https://drive.google.com/drive/folders/1AJO5RtB-BwVpHPH6D_PHFQEnqMg8q5H3"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 45C Programming in C/C++ as a Second Language</ion-label> 
    </ion-item>
    <ion-item href="https://drive.google.com/drive/folders/1El15-pzicdipUHc4KcLxwInmARtc3w8b"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 46 Data Structure Implementation and Analysis</ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
