<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics32">
          返回ICS 32列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 32 Program Software Library - Alex Thornton
                  </a>
                </h2>
            </header>
              内容：学习Python语言
              <br>Professor: Alex Thornton
							<br>难易程度: ★★★★★
							<br>
							<br>先修课目：ICS 31/CSE 41，或者可以通过placement test 跳过31。详情：
							<br>http://www.ics.uci.edu/~kay/courses/31/placement.html
							<br>TA: 韩国小哥忘记名字 五个project都是TA小哥改的，有统一的rubric，不用担心有的TA松有的严，但是alex的rubric还是比较严的，一定要仔细好好地写！一般都会扣个一两分。
							<br>Lab: 一共有五个project，前面两个可以是pair programming， 但是必须要换partner，后面三个都是自己写。Lab 依旧不是强制性的。 两周一个project。
							<br>Piazza: 无
							<br>Textbook: 无
							<br>Rate my professor 评分: 4.4
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=13200
							<br>个人觉得这个老师上课还是蛮有意思的，除了经常一言不合就夸他的狗儿子Boo。。。。但是考试真心有些不按套路而且找不到任何往年的midterm 或者final 的sample。。。非常鸡贼的老师
							<br>Grading Criteria:
							<br>· One warm-up project (Project #0) 2%
							<br>· Five programming projects, 38%
							<br>(weighted equally at 7.6% each)
							<br>刚开始扣分比较严，后来就习惯了
							<br>· Midterm, 25%
							<br>蛮难的纸质考试
							<br>· Final Exam, 35%
							<br>没啥好说的，成绩就是靠midterm和final。我记得我考midterm之前有好好地看过一遍alex的notes，很有用的！但是对final就没啥用了。notes一定要好好看哦！！！会考概念题目的！！！
							<br>Comment:
							<br>1.这个课感觉跟31比真的跨了一大步，project的难度也是有大大的提升，但是不管是上课还是写的project都比31有意思多了，写完了好有成就感
							<br>2.上课要提100次他的狗Boo 出的题里也会出现 projects还是很难的 每次千万不要拖到最后一天。网站上有alex的notes，还挺全的。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
