<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics45j">
          返回ICS 45J列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 45J Programming in Java as a Second Language - Zhengping Wu
                  </a>
                </h2>
            </header>
              内容：学习Java
              <br>Professor: Zhengping Wu
							<br>难易程度:★
							<br>先修课目:ICS 33/CSE 43
							<br>TA:Gagan and Takashi
							<br>Discussion: 无
							<br>Lab：有common lab， 基本每天都会有java 的ta在lab里两个小时左右
							<br>Piazza:无
							<br>Textbook:Big Java - Early Objects (Sixth Edition), by Cay Horstmann.
							<br>Rate my professor 评分: 1.2
							<br>这个老师真的讲课速度很—慢—很—慢，放佛我们啥基础也没有似的，他大概忘记这节课有ics33这门选修课程的要求了。。。 如果他不该进的话，感觉大家可能可以上上网课或者自学！
							<br>Grading criteria: （可能有所变动）
							<br>· Homework  40%
							<br>大概八个左右吧目测，现在第七周了目前有五个。老师作业题目要求写的很不详细，而且还要求一定要写comment。而且！连考试写code也一定要java doc的那种格式的comment。不写comment会被扣分哟！一定要写！
							<br>· Midterm exam 30%
							<br>发卷子很神奇，上课时间59分钟，发了20分钟的卷子。三道写output的题目，一道写code的题目。code跟作业很像，但是就是像写一个文件一样，所有的东西都要写。大工程，一定要记住一些syntax呀！
							<br>· Final 30%
							<br>Comments:
							<br>1.很慢很慢的一节课，中国老师很喜欢玩数字，作业都是算数字，蛮无聊的。嗯，大家还是自学吧，或者上别的网课
							<br>2.额。。。不教东西 然后final 贼难。有点太简单了
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
