<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6b">
          返回ICS 6B列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6B Boolean Algebra & Logic - Amelia C. Regan
                  </a>
                </h2>
            </header>
              内容：逻辑代数
              <br>Professor: Amelia C. Regan
							<br>难易程度: ★
							<br>
							<br>先修课目：无
							<br>TA: Mehdi Rahimzadeh &
							<br>Reza Asadi
							<br>Grader:  Hyungik Oh & Wentao Zhu
							<br>Discussion:  不是强制性的，我好像都没怎么去过， 不过有问题可以在piazza上问。
							<br>Piazza: 有
							<br>Textbook: online textbook zybook 大概是$50左右
							<br>Rate my professor 评分: 3.0
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=959140
							<br>个人感觉这个老师不难，经常上课自己都讲不清楚，容易犯糊涂，一个小时20分钟的课，从来没有上完过，基本都早放了。
							<br>Grading criteria: （可能有所变动）
							<br>· Reading Assignments 7%
							<br>在online textbook里完成，很简单，只需要按时浏览并把里面的一些简单例题都做出来。做错了也没关系，没有次数限制。基本上是白送的分。
							<br>· Homework 8%
							<br>一共有八个作业，手写的，要好好写（感觉都是靠做作业来学而且考试跟作业很像），由两个grader改，改的还蛮松的，基本上都是满分。
							<br>· Midterm exams 60%
							<br>有三个midterm 跟作业很像
							<br>· Final 25%
							<br>Comment:
							<br>这节课的内容不难，学霸型的同学完全可以把这课当水课上，只要好好看书好好做作业,拿A完全是没有任何问题的！！！
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
