<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6b">
          返回ICS 6B列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6B Boolean Algebra & Logic - Sandy Irani
                  </a>
                </h2>
            </header>
              内容：逻辑代数
              <br>Professor: Sandy Irani
							<br>难易程度: ★★
							<br>先修课目: 无
							<br>TA: Kollimarla, Venkata Raj Kiran
							<br>Gassko, Irene
							<br>Discussion: 非强制性 也没有quiz 因为是早八 第一次去了之后就再也没去过 大概就是你有什么作业或者其他的问题就问 没有的话可以不去
							<br>Piazza: 有
							<br>Textbook: online zybook $50左右
							<br>Rate my professor 评分: 4.8
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1347786
							<br>这个教授评分超级高确实上课也不错 每节课都要去因为会有iclicker的问题，思路清楚板书也清楚。总体来说有她的课就尽量选她。
							<br>Grading criteria:
							<br>· Homework 5% (8 out of 9 counted)
							<br>9个手写作业，zybook后面的题，上传到gradescope上。过了deadline答案就会放出来就
							<br>可以对答案改错然后复习了
							<br>· Reading Assignments 4% (50 sections, drop lowest 5)
							<br>在deadline之前完成看书并做题，基本就是预习，题可以做无数次直到你做对就可以。
							<br>· Class participation 1.5% (16 lectures, drop 3)
							<br>iclicker的分
							<br>· Tests 64% (16% each)
							<br>Fall quarter平均每两周一个test，每次差不多两章的内容。她的主页上有以前的test和quiz但大多没有答案
							<br>· Final Exam 25%
							<br>· Completing the Course Evaluation .5%
							<br>quarter结束有一个evaluation 送分的
							<br>Comment:
							<br>压力不会很大的一门课 都是一些逻辑知识 好好读书好好写作业基本没什么问题
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
