<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 46 Data Structure Implementation and Analysis
                  </a>
                </h2>
            </header>
            <ion-list>
              <ion-item href='course-list/course-intro-ics46/rpattis'>
                <ion-icon slot="start" color="medium" name="star"></ion-icon>
                <ion-label>Richard Pattis</ion-label>
              </ion-item>
              <ion-item href='course-list/course-intro-ics46/rklefstad'>
                <ion-icon slot="start" color="medium" name="star"></ion-icon>
                <ion-label>Raymond Klefstad</ion-label>
              </ion-item>
              <ion-item href='course-list/course-intro-ics46/ssago'>
                <ion-icon slot="start" color="medium" name="star"></ion-icon>
                <ion-label>Sergio Gago</ion-label>
              </ion-item>
              <ion-item href='course-list/course-intro-ics46/athornton'>
                <ion-icon slot="start" color="medium" name="star"></ion-icon>
                <ion-label>Alex Thornton</ion-label>
              </ion-item>
            </ion-list>
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
