<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics139w">
          返回ICS 139W列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 139W Critical Writing on Information Technology - Rebecca Black
                  </a>
                </h2>
            </header>
            内容:计算机专业类写作
            <br>Professor: Rebecca Black
							<br>
							<br>难易程度：★★
							<br>
							<br>TA：NA
							<br>
							<br>Discussion: 强制
							<br>
							<br>Piazza : 无
							<br>
							<br>Textbook: zybook
							<br>
							<br>Rate my professor 评分：3.8
							<br>
							<br>Grading Criteria:
							<br>
							<br>（1）主要包括这四块：Changing the system, Writing Instructions, Resume/Cover Letter和Participation. 其中Changing the system是大头，分3个stages。
							<br>
							<br>（2）Discussions不是每次都需要参加。必须参加的就计入Participation。
							<br>
							<br>（3）基本上每次lecture都有练习，单人或者group，不管做的好坏，仅记录为Participation。
							<br>
							<br>（4）在Changing the system中还有Presentation，做PPT和演讲（现场或者录制）Comments:
							<br>
							<br>教授：老师很良心，会提供很多辅助资源。一开始听上去任务有点难，不过她会分模块布置任务。分解之后，就一目了然了。她会提取学生意见，会根据需要修改deadline时间或者作业格式。总而言之，非常的有弹性。
							<br>
							<br>课程：课程的实用性还是很强的。从作业就可以看出来，基本上以后工作都可能会涉及到。这门课没有final，就是一个很大的福利。
        </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
