<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics139w">
          返回ICS 139W列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 139W Critical Writing on Information Technology - Kimberly Hermans
                  </a>
                </h2>
            </header>
            内容:计算机专业类写作
            <br>
            <br>Professor: Kimberly Hermans
            <br>
            <br>难易程度: ★★
            <br>
            <br>先修科目: Writing 39 C
            <br>
            <br>TA:Jason Reitman,Indona Barua
            <br>
            <br>Discussion: 非强制，但是非常重要，TA会为学生一点一点的修改文章细节
            <br>
            <br>Piazza:有
            <br>
            <br>Textbook:无
            <br>
            <br>Ratemyprofessor: 2.5
            <br>
            <br>Kimberly 并不是一位严苛的老师，ratemyprofessor上没有139W
            <br>
            <br>学生的评分
            <br>
            <br>Grading Criteria:
            <br>
            <br>· Personal Statement: 15%
            <br>· Influencing Policy: 15%
            <br>· System Tutorial: 15%
            <br>· System Change Proposal: 15%
            <br>· Résumé and cover letter: 10%
            <br>· In-class exercises: 10%
            <br>· Class attendance and participation, including oral presentations: 20%
            <br>
            <br>
            <br>Comment:
            <br>
            <br>虽然139W是writing系列的压轴课程，但是139W可以算是最简单的一门writing课了。作业通常都不长，最多不超过5页，内容包括了cover letter和resume一类的实用写作。并且TA十分认真负责，discussion的内容就是TA帮学生修改作文，TA甚至会把每一个语法错误都标注出来。
        </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
