<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics51">
          返回ICS 51列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 51 Intro Computer Organization - Eli Bozorgzadeh
                  </a>
                </h2>
            </header>
              内容：学习基础汇编语言MIPS、硬件知识
              <br>难易程度：★★★
							<br>先修课程：ics31 or cse 41 or cse 21 or ics21 or in4matx 42
							<br>And ics 6B
							<br>TA: Neftali Wtkinson, Majid Shoushtari, Shreya Chippagiri
							<br>Discussion: 这节课discussion和lecture是两节不同的课。Lecture 是讲计算机组成，Discussion是TA讲assembly。推荐去
							<br>Lab: Assembly Code 有问题可以去咨询TA, 通常没什么人去。
							<br>Textbook: "Structured Computer Organization" (6th Edition), by Tanenbaum and Austin.
							<br>Rate my professor: 2.6
							<br>Grading criteria:
							<br>·Lab assignment (3 labs) : 35%
							<br>·Quizzes(4) : 30%
							<br>(两周一个quiz, 可以drop一个最低分)
							<br>·Final exam :35%
							<br>Comment:
							<br>Eli 讲课略有口音，PPT大部分都是书上的内容，通常会在spring quarter教。听不懂的内容推荐看书。Quiz 会有Sample，考试内容和sample，hw 类似， 不是cumulative。final 稍有难度， 不过期末会有比较大的curve。Final 和 quiz都是概念 + 汇编语言。Eli 最大的问题就是有时候sample quiz的答案和hw 的答案会是错的， 平时要多去piazza上确认答案的准确率。教授很少回复piazza，大多时候都是学生互相讨论，TA 有时候会确认答案。
							<br>51这门课不看书可能会听得云里雾里，推荐上课前读recommended readings。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
