<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6d">
          返回ICS 6D列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6D Discrete Math For CS - Michael Dillencourt
                  </a>
                </h2>
            </header>
              内容：离散代数
              <br>Professor: Michael Dillencourt
							<br>难易程度：★★
							<br>
							<br>先修课目：建议6B,不是强制性。
							<br>TA: Zhengli Zhao &
							<br>Zahra Montazeri
							<br>Discussion: 不是强制性的，但TA人很好且讲得非常清楚，如果去了会很有帮助。
							<br>Piazza: 有
							<br>Textbook: online textbook zybook 大约五六十刀
							<br>Rate my professor 评分: 2.8
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=59341
							<br>这个老师上课一般是念PPT，但由于年纪较大一般看不到学生举手，所以上课不怎么回答问题。讲的还可以，能看出PPT做得很认真且备过课。
							<br>Grading Criteria: (Spring 2017)
							<br>· Homework 8%
							<br>一共有八次作业，需要以PDF格式交，有一定难度（仿佛回到小学奥数），最后根据Curve会Drop一两次。Reader基本联系不上，所以改分比较困难。
							<br>· Reading Assignments 5%
							<br>做了就有分，记得每周点（想不起来可以一次点完一周的）
							<br>· Tests 45%
							<br>一共四个Test，每两周一个，会Drop一两次最低分。作业覆盖考试的全部内容。
							<br>· Final 42%
							<br>作业同样覆盖Final内容，老师会通知考哪些章节，没有练习题。
							<br>· Completing the Course Evaluation 1% (附加分)
							<br>Comment:
							<br>这节课算比较中规中矩，好好做作业的话考试肯定没问题的。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
