<ion-header>
  <ion-toolbar>
    <ion-title>
      CUCS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cucs-logo"></div>
  <ion-list lines="none">
    <ion-item href="course-list">
      <ion-icon slot="start" color="medium" name="create"></ion-icon>
      <ion-label>课程测评</ion-label>
    </ion-item>
    <ion-item href="class-material">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>课程资料</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>技术文章(敬请期待)</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Leetcode(敬请期待)</ion-label>
    </ion-item>
    <ion-item href="about-us">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>关于我们</ion-label>
    </ion-item>
    <ion-item href="version-info">
      <ion-icon slot="start" color="medium" name="cog"></ion-icon>
      <!--Staff人员-->
      <ion-label>版本信息</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
