<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    Writing 39A & 39B & 39C
                  </a>
                </h2>
            </header>
              <br>Writing 39A Kat Eason
              <br>
              <br>（强推！）
              <br>
              <br>三篇paper
              <br>
              <br>Rate my professor 评分：4.9 http://www.ratemyprofessors.com/ShowRatings.jsp?tid=927085
              <br>
              <br>就是很酷很好的老师，不是特别水，但是就是很喜欢她，读的东西也很有趣的，让人能提的起兴趣写写写，给的反馈都很实际很有用，不是在讲大空话。而且一定是报课的时候第一个被抢光位置的老师。（个人感觉）
              <br>
              <br>
              <br>Writing 39B Tarah Keepermen
              <br>
              <br>两篇paper
              <br>
              <br>Rate my professor 评分：4.9 http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1984756
              <br>
              <br>这个老师绝对的水，客观的说就是学不到啥东西，有的时候讲课真的不想听，给的反馈就是很普通的一些空话，不过真的水啊，感觉平时的作业她根本不会看的。因为感觉蛮随意的，就会没有动力好好写。跟Eason比起来，责任感相差大。读的东西也挺狗血，当时的theme是teen fantasy，基本上都是女生小团体之类的撕逼故事。（（个人感觉））（但是，老师长得很可爱很少女，混在人群里，根本就是学生。）
              <br>
              <br>
              <br>Writing 39C Kendra Fish
              <br>
              <br>两篇research paper
              <br>
              <br>Rate my professor 评分：4.3 http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1784728
              <br>
              <br>不是特别水，也挺有意思的老师，按照她给的建议改的话，没有什么问题，评价都不太一样，因人而异吧，但是还挺负责任的，人也很好，我觉得给我的一些反馈意见也非常有用。（个人感觉）
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
