<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics51">
          返回ICS 51列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 51 Intro Computer Organization - Shannon Alfaro
                  </a>
                </h2>
            </header>
              内容：学习基础汇编语言MIPS、硬件知识
              <br>Professor: Shannon Alfaro
							<br>难易程度: ★★★★★
							<br>先修课目: ICS 31/CSE 41和ICS 6B
							<br>TA: Pedro Silva
							<br>Discussion & Lab: 无
							<br>Piazza: 有
							<br>Textbook: Structured Computer Organization
							<br>Rate my professor 评分: 1.7
							<br>Grading Criteria:
							<br>· Quiz (lowest drop) 10%
							<br>· Homework (lowest drop) 10%
							<br>· Lab  30%
							<br>· Midterm 25%
							<br>· Final  25%
							<br>Comments:
							<br>1.这个老师必须avoid。这门课比较难，但是alfaro教的这门课更难。
							<br>2.这个老师上课有PPT，但是她有三个问题1）讲不清楚，她上课经常会先讲应用再解释概念，所以学生玩玩不知道她在干什么，讲的东西都没听过；2）她喜欢的PPT的解释和配图是错误的，经常会看到一个statement但是不能用下面的配图解释，上网查了之后发现配图是错的；3）她的 midterm和final是考平时上课不会讲的，作业和lab也不会涉及到midterm和final。这节课主要是靠自学，而且需要很多理解，不能死记硬背，配得上6units难度
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
