<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics46">
          返回ICS 46列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 46 Data Structure Implementation and Analysis - Richard Pattis
                  </a>
                </h2>
            </header>
              内容：数据结构
              <br>Professor: Richard Pattis
							<br>难易程度: ★★★★★
							<br>
							<br>先修课目: ICS 45C
							<br>TA: Charles Zhu & Yu Liu
							<br>Grader:  一个Grad四个Ugrad
							<br>Lab:  周一到周四中午（大概12点）到晚上8点有common lab，有需要可以去，ta会答疑，人比较多
							<br>Piazza: 无，但eee上的message board可以提问
							<br>Textbook: 和33一样，网上有pattis自己写的lecture notes
							<br>Rate my professor 评分: 3.4
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1094724
							<br>他的lecture notes真的五星好评，讲得很细致，对作业很有帮助。建议存为pdf在课堂上跟着划重点，因为字比较多，自己看的话比较需要勇气和毅力…
							<br>Grading criteria:
							<br>· Quiz 20%
							<br>总共8个，每周一个带回家写，和33的流程是一样的。complexity analysis的题目和33基本一样。coding部分也是周四交，手写部分周五交。
							<br>· Program assignments 30%
							<br>提前2天交有2分extra credit～周二due。第一个program和33的框架基本一样，换个语言就差不多了。前4个assignment可以找partner，最后一个得自己写。
							<br>· Midterm written exam 20%
							<br>往年据说是分两天考的，但这回撞上假期了就得一天考完了，题目相对少一点。尽量上网找往年的sample，考点是差不多的。
							<br>· Final 30%
							<br>Cumulative，建议提前准备。
							<br>Comment:
							<br>1.据说比Alex的46简单，套路大部分和33相似，讲得不难而且很清晰，强推呀～
							<br>2.上课一直在读他的材料，没什么特别的. 很难的课，作业(非常)多，给的reading也很多，虽然多但还是要看完比较好，因为他不会讲课
							<br>3.教授：lecture大部分时间是念notes，有那么两个lecture是hand simulation，如果Pattis开始hand simulation了还是认真听，听懂了到时候写作业和quiz就不用再自己看note。因为Pattis貌似不用麦克风，上课尽量往前坐，这样听得清楚，如果他hand simulation了也看得清。
							<br>4.课程：上过ICS 33的都知道Pattis什么套路。Homework和quiz要好好做，尽量每个homework和quiz都能高分，这样考试万一炸了不会太严重。Midterm和final和quiz题型类似，但是Pattis的考试有一两道题会考notes某个小角落里的知识点，所以平常有机会还是要下功夫看notes。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
