<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics45c">
          返回ICS 45C列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 45C Programming in C/C++ as a Second Language - Raymond Klefstad
                  </a>
                </h2>
            </header>
              内容：学习C++
              <br>Professor: Raymond Klefstad
							<br>难易程度:★★★
							<br>先修课目:ICS 33/CSE 43/EECS 40, 和CSE 45C是同一节课
							<br>TA:Yunho Huh, Hamid Tavakoli
							<br>Discussion:无discussion
							<br>Piazza: 有
							<br>Textbook:无，教授推荐使用:Absolute C++ by Savitch
							<br>Rate my professor评分：3.8
							<br>Grading criteria:
							<br>1. homework 30%一周一个作业，量还是有点大，但可以去office hour问作业。
							<br>2. quiz 30%每周一个quiz，drop掉最低的一个，考的和homework很像，变量名都一样，方程有点小改动而已，注意掌握homework的知识点。
							<br>3. final quiz 40%，没有final，就在week10考个final quiz，全是选择，有难度，但curve很大
							<br>comment s:
							<br>1.Raymond是一位幽默风趣的教授，非常喜欢和同学们开玩笑。他的lecture氛围比较轻松，但是干货不多，所以他的45C需要学生有较强的自学能力。这节课的作业负担不算重，一周一个的编程作业难度都不大, 对于只学过python的同学，C++的语法需要一段时间适应，前期会相对痛苦一些。
							<br>2.有notes但是更像是outline 但是他上课会讲很多扩展。认真写hw 多找ta问问 就没什么问题 quiz要认真 太容易扣分 没加；就是5分
							<br>3.教授上课很有趣，但是这节课要求自学比较多，而且教授的笔记不像Alex和pattis笔记那么详细，所以需要自己网上查阅资料。说实话，教授没有像Pattis那么负责，很多东西要自学，一开始的两三周会很痛苦，一定要多花时间自学，不然可能会跟不上
							<br>4.Klef上课一部分是讲他的生活，一部分是低级笑话，还有一部分是他的notes。即使这样，对于没学过C++的同学请不要翘课，学过的就无所谓了。他的hw对于没有学过C++的同学们会比较难，而且在due前一两天经常性会做些修改。修这门课的同学请提前上网查一下怎么用PUTTY和Vim，UCI ICS官网上有教程。想提前预习的同学可以上网查Klefstad ICS 45C，能找到他的notes。他的quiz难度还行，只要作业会做，看看notes的话quiz不难。Final虽然是三十道选择题但五个选择还是会让你怀疑人生。
							<br>5.Klef的性格不用多说了吧,上课三分之一讲课 三分之一讲他美滋滋的生活 三分之一讲他完美的妻子 但是讲课的部分还是比较重要的 但是单单靠听课是不够的 建议读Absolute c++那本书 提早开始homework 随遇而安吧。这节课其实大部分还是靠自学的 仅仅靠教授上课的内容是不够的 建议看书 认真做作业 提前准备好quiz 听说教授curve给的比较多 但是现在没看到成绩所以也不知道 推荐去听cucs的review section 很有帮助
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
