<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6b">
          返回ICS 6B列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6B Boolean Algebra & Logic - Irene Gassko
                  </a>
                </h2>
            </header>
              内容：逻辑代数
              <br>Professor:  Irene Gassko
							<br>难易程度：★
							<br>TA：NA
							<br>Discussion: 不强制
							<br>Piazza : 有
							<br>Textbook: zybook
							<br>Rate my professor 评分：2.7
							<br>Grading Criteria:
							<br>4个Midterms, 每一个16%； Final 25%； 都不难。和平常的Homework5%相比，难度至少降一个等级。老师和TA/Grader都很nice，regrade非常方便。
							<br>Comments:
							<br>教授：教授很和蔼，有问题随时可以找她解答。只是对于分数统计，老师有点不靠谱。分数管理有点混乱，不够明朗。口音问题，听习惯了也就好了。
							<br>课程：很基础的课。基本上没太大难度。看书做题，基本没问题。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
