<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-infmatx43">
          返回IN4MATX 43列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    IN4MATX 43 INTRO TO SE - Emily Navarro
                  </a>
                </h2>
            </header>
              内容：软件文档
              <br>Professor:  EMILY NAVARRO
							<br>难易程度：★★★
							<br>先修课目：ICS 32，可以和ICS 105替换
							<br>TA: 无
							<br>Discussion: 无
							<br>Piazza: 有
							<br>Textbook: 无
							<br>Rate my professor 评分: 4.0
							<br>Grading Criteria:
							<br>
							<br>· Assignment     65%
							<br>· Midterm     15%
							<br>· Final      30%
							<br>Comment:
							<br>Emily 讲课很清晰, ppt很有条例, 上她的课总能学到很多, 她很讲究公平, 不会让同学白多做努力, 和白偷懒, 都不会逃过她的眼皮。 小组内 会有互相的评价， 每条评价 她都是仔细审核， 评价高的同学 她会给额外的分， 非常公平 讲课也好 是个难得的好老师。这节课主要看小组作业 小组每周都有due 只有找对队友 在组内多做奉献 即使 mid final 没考好 也能拿到好成绩
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
