<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics45c">
          返回ICS 45C列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 45C Programming in C/C++ as a Second Language - Zhengping Wu
                  </a>
                </h2>
            </header>
              内容：学习C++
              <br>Professor:Zhengping Wu
							<br>难易程度：★★
							<br>
							<br>先修课目：ICS 32/CSE 42，和CSE 43是同一节课
							<br>TA: 无
							<br>Lab:无
							<br>Piazza: 无
							<br>Textbook: Big C++ (Second Edition), by Cay Horstmann and Timothy Budd
							<br>Rate my professor 评分: 1.2
							<br>Grading Criteria:
							<br>· Homework 30%
							<br>· Midterm 40%
							<br>·Final  30%
							<br>Comment:
							<br>知识点都在PPT上面 过的比较快 中文口音是可以听懂 但是非常催眠 有点抓不到重点的感觉。作业非常简单 几乎不会扣什么分 期中需要掌握PPT主要知识点 期末考的有点杂 有点偏 需要对c++概念非常清晰才能考高 不过课程给分非常松散 老师的目的是让学生过。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
