<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    CS 112 Computer Graphics - Gopi Meenakshisundaram
                  </a>
                </h2>
            </header>
            内容:Computer Graphics
            <br>
            <br>Professor: Gopi Meenakshisundaram
            <br>
            <br>难易程度: ★★★★
            <br>
            <br>先修科目: ICS 33/CSE 43和ICS 45C/CSE 45C和MATH 3A/ICS 6N
            <br>
            <br>TA:Jia Chen, Nitin Agarwal
            <br>
            <br>Discussion: 无
            <br>
            <br>Piazza:有
            <br>
            <br>Textbook:无
            <br>
            <br>Ratemyprofessor: 2.9
            <br>
            <br>Grading Criteria:
            <br>
            <br>·Project  60%
            <br>
            <br>·Final project 20%
            <br>
            <br>·Midterm 20%
            <br>
            <br>Comments:
            <br>
            <br>1.Gopi讲课比较认真而且还挺有趣的，不是干巴巴念幻灯片那种，看得出来对课程内容都很熟悉。有一点点印度口音不过不严重。最后一节课还跟大家讨论人生，总的来说还是不错的，不愧是Associated Dean。这学期排的课是每周一节，周一晚上6:30 - 9:20三小时的那种，导致大家都很难认真地听完整个课。不过总的来说这学期的grading构成比以前改了很多，导致难度降低了不少。（从前是有两个midterm，一个final，还有project，written assignment，pop quiz等，这学期只有project和一个midterm，连final都去掉了）
            <br>
            <br>
            <br>2.上课有ppt，但是ppt讲的不太清楚。大部分时间讲的都不是ppt上面的内容，而且midterm很多都跟他上课讲的有关系。但是由于课程内容比较难而且比较抽象，上课很无聊容易走神。老师印度人但是英语还是比较标准的，但是不知是懒还是因为是副dean事情比较多，经常忘记上传ppt，piazza也不回。今年是由于某些特殊情况评分标准有所变化。以前这门课quiz，homework，project，midterm，final都有的，加上TA对project放了很多水，笔者这学期这门课平均分还不低。这门课程对线性代数和空间几何的能力要求比较高，如果这些不是很在行又对graphics不感兴趣的话上课会十分痛苦。如果上课很痛苦的话，考试和project会很难，建议参考前几年的考试，很多原题。Project是Javascript写的，但是TA给了绝大部分码，也给了很多example，参照example和piazza绝大部分的project都能在1-2天内完成，不过我们TA是放了很多水的而且piazza上帮助很多。综上所述，这门课的成绩完全取决于TA下手狠不狠，project不会多找TA。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
