<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics6d">
          返回ICS 6D列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 6D Discrete Math For CS - Irene Gassko
                  </a>
                </h2>
            </header>
              内容：离散代数
              <br>Professor: Irene Gassko
							<br>难易程度：★★
							<br>先修科目：建议6B， 不是强制性
							<br>
							<br>TA：Muntaha Samad &
							<br>Preston Putzel
							<br>Discussion: 不是强制性的， 不会点名，但TA 有些时候会讲homework中比较难的题，每个quiz前还会大致讲下要考什么，建议参加，会有帮助。
							<br>Piazza : 有
							<br>Textbook: online textbook zybook 一个quarter $48
							<br>Rate my professor 评分：2.5
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=2291764
							<br>这个老师上课都会有PPT，而且每个PPT都能在canvas上找到， 但是她讲课基本上不会中规中矩的按照PPT来讲。她的年纪有一点儿大外加上讲话有一点儿口音，所以讲课并不是很清楚。只有全程都全神贯注地听她讲才有可能明白她具体在讲什么。另外，她讲题过程中有些关键步骤会略讲，所以有些时候会听不太懂。
							<br>Grading Criteria:(fall 2017)
							<br>· Homework 5% (7 out of 8 counted)
							<br>一共有8次作业，只算最高的7次的分。需要以PDF的格式上交，简单的很简单，难的完全不明所以，但大多数情况都很简单，每次作业十几到二十几题中只会有5道以内的题很难而且作业分数的总体占比不是很高，所以不用担心。
							<br>· Reading Assignments 4% (58 sections, drop lowest 5)
							<br>一共有58个reading assignment， 算分时不计得分最低的5个。Reading assignment 是每次读书一个章节里的几小部分，每次都不太一样。 读完后会有online习题，每次也不多，做了就有分，每周有两个reading assignments要交。只要按时读完，写完习题就行。
							<br>· Class participation 1.5% (13 lectures, drop 3)
							<br>一共有13次成绩，最低的3次不计分。其实就是每次lecture时Iclicker的成绩，每次上课每道题都点了就行，没有算正确率。
							<br>· Quiz 64%
							<br>这一部分是重头戏，每周一个quiz，每周会抽一节lecture的20分钟左右的时间考，每个quiz都覆盖一次作业的内容。
							<br>· Final Exam 25%
							<br>老师会具体通知考哪些章节。(没有midterm)
							<br>· Completing the Course Evaluation  0.5%
							<br>quarter最后写一个课程测评就可以了，算是附加分
							<br>
							<br>Comments:
							<br>1.这节课老师的讲课有些模糊，但鉴于大部分的成绩的比重是quiz和final，所以只要这两部分的分拿高一些就没有问题。这两部分分数拿高一些也不是很难，好好弄清楚作业上的题就行，考试考得都比较基础。建议自己下课多下功夫看书。
							<br>2.不知道她在讲什么东西 但是自学就行了 而且她的final十分的简单。
							<br>3.这个老师上课有PPT，但不知所云，考试比较容易，有口音。多看书，多写作业，easy A!
							<br>4.人还好 讲的比较枯燥 有ppt和iclicker。挺容易的 做reading就能学会。
							<br>5.上课没有什么用 做好zy book 但是上课有icliker 我觉得听讲课不是很有必要 直接看ppt。看ppt 然后弄懂zybook 考试都不是很难 写好cheating sheet就没有问题了
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
