<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics45j">
          返回ICS 45J列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 45J Programming in Java as a Second Language - Kimberly Hermans
                  </a>
                </h2>
            </header>
              内容：学习Java
              <br>Professor:  Kimberly Hermans
							<br>难易程度：★★★
							<br>TA：NA
							<br>Discussion: 不强制
							<br>Piazza : 有
							<br>Textbook: NA
							<br>Rate my professor 评分：1.6
							<br>Grading Criteria:
							<br>1）Homework 30% 总共六个project，一个6%. 最后连个lab的描述比较不清晰，教授从来不回邮件, 只能靠一堆人在piazza上讨论.
							<br>(2) Midterm 30%, 题目的量很大，题目中的错误较多，发卷子的速度很慢。
							<br>(3) Final 40%, 一共85个单选题，有一部分提是送分题
							<br>Comments:
							<br>教授：整节课的结构十分不紧凑，然而老师经常碰到问题不会debug还有向同学求助。回邮件的速度非常慢（从来没回过？），在piazza也都是TA在回答问题. 讲课不太清晰，基本就是把功能用法讲一遍，不太会讲设计意图或者别的一些相关拓展；上课不让玩手机和聊天，被她发现可能会直接当堂被提醒；PPT传的比较慢，有些课堂通知会直接发在Piazza上不会发邮件，所以Piazza要定期看一下有没有通知；Project的Introduction比较迷，所以感觉Introduction最好早点看起来，然后疯狂去找TA和老师问细节；后半学期会讲Android Studio，但是讲的比较迷也比较含糊，更像她打一遍代码给你看，不过作业的Project的代码基本可以在她给的Sample project里面找到相关的代码借鉴或者自己学一下；考试比较迷，期中题量很大期末全是选择题，会考一些method的运用细节，期末也考了概念。
							<br>课程：前半个学期的课比较简单，基本都是31-33的相关知识点换JAVA写一遍；后半个学期会粗略讲多线程和Android Studio，Android Studio很实用但是不考；Project提早一点开始写难度也不大，最后一个Android Studio的project很多问题主要是软件问题很多而不是码代码的问题，所以提早一点开始会有更多时间处理使用软件时候的突发问题。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
