<ion-content>
  <ion-list lines="none">
    <ion-item href="/cucs/home">
      <ion-icon slot="start" color="medium" name="arrow-round-back"></ion-icon>
      <ion-label>返回</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>目录</ion-label>
    </ion-list-header>
    <ion-item href="course-list/course-intro-ics6b"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6B Boolean Algebra & Logic</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics6d"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6D Discrete Math For CS</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics6n"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6N Computational Linear Algebra</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics90"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 90 New Students Seminar</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31">
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 31 Intro to Programming</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics32a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 32A Python Programming and Libraries (Accelerated)</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics32"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 32 Program Software Library</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics33"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 33 Intermediate Programming</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics45c"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 45C Programming in C/C++ as a Second Language</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics45j"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 45J Programming in Java as a Second Language</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics46"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 46 Data Structure Implementation and Analysis</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-infmatx43"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>In4matx 43 Intro To SE</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics51"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 51 Intro Computer Organization</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics53"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 53 Principles in System Design</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics139w"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 139W Critical Writing on Information Technology</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs112"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 112 Computer Graphics</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs113"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 113 Computer Game Development</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs116"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 116 Computational Photography and Vision</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs121"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 121 Information Retrieval</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs122-a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 122A Introduction to Data Management</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs122-b"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 122B Project in Databases and Web Applications</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs122-c"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 122C Principles of Data Management</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs132"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 132 Computer Networks</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs134"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 134 Computer and Network Security</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs141"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 141 Concepts in Programming Languages I</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs161"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 161 Design and Analysis of Algorithms</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs162"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 162 Formal Languages and Automata</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs164"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 164 Computational Geometry and Geometric Modeling</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs171"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 171 Introduction to Artificial Intelligence</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs177"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 177 Applications of Probability in Computer Science</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs178"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 178 Machine Learning and Data-Mining</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs193"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 193 Tutoring in ICS</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-cs143-a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 143A Principles of Operating Systems</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-inf121"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 121 Software Design: Applications</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-inf131"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 131 Human Computer Interaction</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-inf151"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 151  Project Management</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-math3-a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>Math 3A Intro Linear Algebra</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-stat5"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>Stats 5 Seminar in Data Science</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-stat120-a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>Stats 120A Introduction to Probability and Statistics</ion-label> 
    </ion-item> 
    <ion-item href="course-list/course-intro-writing"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>Writing 39A & 39B & 39C</ion-label> 
    </ion-item> 
  </ion-list>
</ion-content>
