<ion-content>
  <ion-list lines="none">
    <ion-item href="/cucs/home">
      <ion-icon slot="start" color="medium" name="arrow-round-back"></ion-icon>
      <ion-label>返回</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>目录</ion-label>
    </ion-list-header>
    <ion-item href="course-list/course-intro-ics6b"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6B Boolean Algebra & Logic</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics6d"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6D Discrete Math For CS</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics6n"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 6N Computational Linear Algebra</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics90"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 90 New Students Seminar</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31">
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 31 Intro to Programming</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics32a"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 32A Python Programming and Libraries (Accelerated)</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics32"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 32 Program Software Library</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics33"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 33 Intermediate Programming</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics45c"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 45C Programming in C/C++ as a Second Language</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics45j"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 45J Programming in Java as a Second Language</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics46"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 46 Data Structure Implementation and Analysis</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-infmatx43"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>IN4MATX 43 INTRO TO SE</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics51"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 51 Intro Computer Organization</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics53"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 53 Principles in System Design</ion-label> 
    </ion-item>
    <!--
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 139W</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 112</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 113</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 116</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 121</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 122A</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 122B</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 122C</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 132</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 134</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 141</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 161</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 162</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 164</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 171</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 177</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 178</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>ICS 193</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>CS 143A</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 121</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 131</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>INF 151</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>MATH 3A</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>STATS 5</ion-label> 
    </ion-item>
    <ion-item href="course-list/course-intro-ics31"> 
      <ion-icon slot="start" color="medium" name="create"></ion-icon> 
      <ion-label>STATS 120A</ion-label> 
    </ion-item> 
    -->
  </ion-list>
</ion-content>
