<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 53 Principles in System Design - Ian Harris
                  </a>
                </h2>
            </header>
              内容：计算机硬件，C语言
              <br>Professor: Ian Harris
							<br>难易程度：★★★
							<br>先修科目: ICS 51，需和ICS 53L一起上
							<br>
							<br>TA：无
							<br>Discussion: 无
							<br>Piazza : 有
							<br>Textbook: Computer Systems A Programmer‘s Perspective， Third Edition
							<br>Rate my professor 评分：4.0
							<br>Grading Criteria:
							<br>· Homework 80%
							<br>· Midterm 10%
							<br>· Final 10%
							<br>Comments:
							<br>1.上课非常有节奏感的 语言和ppt非常的clear and organized 一般会讲30分钟然后剩下给学生提问题 如果抽象思维比较差的话可能需要提前预习才能跟上上课节奏。作业的instruction有时候会比较模糊 但是老师基本排除了特殊情况 让我们的代码变得更简单 每个homework都是TA 在lab当堂改分 会比较紧张
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
