<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics31">
          返回ICS 31列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 31 Intro to Programming - Richert Wang
                  </a>
                </h2>
            </header>
              内容：学习Python语言
              <br>Professor: Richert Wang
							<br>TA: Junkyu Lee  10个project都是TA改的，感觉改的没有非常严。
							<br>Lab: 去lab写program比较好，因为10个program都是pair programming,就是一周一个program的节奏。
							<br>Piazza: 有
							<br>Textbook: 无
							<br>Rate my professor 评分: 4.0
							<br>http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1395406
							<br>这个老师也比较中规中矩，按套路出牌，但是貌似他不怎么教31这节课。
							<br>Grading Criteria:（同上）
							<br>Comment:
							<br>这节课就是入门级的学习python，即使老师不一样midterm sample还有写的这是个program的内容跟其他老师没有什么区别的。
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
