@import url("../tab1.page.scss");

.cucs-web{
    background: url("src/assets/cucs_web.png") no-repeat;
    float: center;
    vertical-align: bottom;
    width: 100%;
    height: 300px;
}

.cucs-weixin{
    background: url("src/assets/cucs_weixin.png") no-repeat;
    float: center;
    vertical-align: bottom;
    width: 100%;
    height: 500px;
}