<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list/course-intro-ics31">
          返回ICS 31列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="course-list">
          返回课程列表
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" fill="clear" expand="block" href="">
          返回首页
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <body class="user-select">
    <style type="text/css">
      /* not available for firefox & IE explorer */
      #box {
          width: 100%;
          height: 88%;
          overflow-x: hidden;
          overflow-y: scroll;
          line-height: 30px;
          text-align: center;
      }
      #box::-webkit-scrollbar {
          display: none;
          visibility: hidden;
      }
    </style>
    <div id="box" class="panel-body">
      <div style="border: 1px  #000000; width: 98%; margin: 0 auto;">
        <span>
          <article class="article1">
            <header>
                <h2>
                  <a style="color:#5FBDCE; text-decoration: none;">
                    ICS 31 Intro to Programming - Shannon Alfaro
                  </a>
                </h2>
            </header>
              内容：学习Python语言
              <br>Professor: Shannon Alfaro
							<br>难易程度：★★★★
							<br>TA：NA
							<br>Discussion: 强制
							<br>Piazza : 有
							<br>Textbook: zybook
							<br>Rate my professor 评分：1.5
							<br>Grading Criteria:
							<br>(1) Zybook Participation 15% 按时完成基本不容易丢太多分 其中有一两样作业需要花些间
							<br>（2）Midterm 15% 可能会超纲 考前注意几个type的区别和特点 依旧可以拿高分
							<br>（3）lab exams 25% 分三次 两次高分各占10% 最低一次 5% 运气不是很差的话 题目也没有这么难 平时注意练习 考试心静 三次拿满分不难
							<br>（4）Final 25% 平时阅读zybook时一定要注意细节 一些相对不那么重要的小细节 会考 记住一点 教授上课不讲 不代表不考... 随缘
							<br>（5）Lab activities 20% 合理参加lab 按时完成lab任务 没问题
							<br>Comments:
							<br>教授：轻重不分 从不做highlight 进步空间极大. 讲课不堪入目，算分不太科学，考试完全怎么刁钻怎么来.
							<br>课程：由于拿A分数要求要在93以上的且无curve or extra credit 要注意每一次作业考试练习 final一定不能松懈 不然很容易辛辛苦苦二十年 一夜回到解放前.
          </article>
        </span>
      </div>
    </div>
  </body>
</ion-content>
